.cropResults {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cropResults img,
.cropResults video {
    max-width: 100%
}

.cropGroup .result {
    display: flex;
    align-items: center;
    gap: .5rem;
}