.CropTable {
    inline-size: inherit;
}

.CropTable td,
.CropTable th {
    padding-right: .25rem;
    text-align: left;
}

.CropTable td:last-of-type,
.CropTable th:last-of-type {
    padding-right: 0;
}

.CropTable td[class=name] {
    text-align: left;
}

@media (max-width: 490px) {
    .CropTable td[class=name] input {
        width: 100%;
    }
}

.CropTable input[type=number] {
    max-width: 3.25rem;
}