.cropResults {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cropResults img,
.cropResults video {
    max-width: 100%
}

.cropResults .column {}

.cropResults .singleClass {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
    justify-content: center;
}