.frameControls {
    display: grid;
    gap: .5rem;
    grid-template-columns: auto auto;
    align-items: center;
    width: min-content;
}

.frameControls .fpsControl,
.frameControls .limitControl {
    display: flex;
    flex-wrap: nowrap;
    gap: .25rem;
}

.frameControls .fpsControl input {
    min-width: 4rem;
}

.container {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}