.gg {
    --tick-color: #aaa;
    --frameW: 1rem;
    --tick-height: .25rem;
    --tick-height-lg: .5rem;
    --tick-label-height: .85rem;
    --timeline-color: var(--tick-color);
    --timeline-height: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.gg .progress {
    margin: 0rem 1rem;
    /* padding-bottom: .5rem; */
    /* background: red; */
    min-width: 30vw;
}