.Inputs .Grid {
    margin: 1rem 1rem;
    background: #000;
    border-radius: .5rem;
    outline: 1px solid white;
    max-width: fit-content;
    padding-bottom: var(--scrollbar-size);
}

.Inputs .Grid:empty {
    outline: 0px solid transparent;
}